body{
    font-family: 'Work Sans', sans-serif;
}
.img-size{
    height: 800px !important;
}

.price-color{
    color: #289BDE !important;
    font-weight: bold;
}
.center{
    text-align: center !important;
}
.foot-icon{
    margin-left: 41% !important;
}
.foot-icon a{
    text-decoration: none !important;
}
.foot-icon i{
   margin-left: 30px !important;
}